.profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -100px;
    margin-left: 45px;
    border: 5px solid white;
    position: relative;
}
.back {
    position: relative;
    height: 350px;
    width: 95%;
    background-image: url('back.jpg');
    background-size: cover;
    background-position: center;
    object-fit: cover;
    border-radius: 10px;
    padding: auto;
    margin-left: auto;
}
.mini {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 250px;
}   
.name {
    position: relative;
    z-index: 2;
    font-size:30px;
    color: black;
    margin-top: -110px;
    margin-left: 300px;
    font-family: 'Times New Roman', Times, serif
}
.follow {
    position: relative;
    z-index: 2;
    font-size: 13px;
    padding: 10px 20px;
    margin: 5px;
    margin-left: 300px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: royalblue;
}
.message {
    position: relative;
    z-index: 2;
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.info {
    font-size: 20px;
    margin-left: 600px;
}
.line {
    font-size: 30px;
    margin-top: -30px;
    margin-bottom: -55px;
}
.pots {
  background-color: white;
  font-size: 20px;
  width: 100px;
  margin-top: 30px;
  margin-left: 10px;
  border-radius: 3px;
  border: none;
}
.about {
   background-color: white;
  font-size: 20px;
  width: 100px;
  border-radius: 3px;
  border: none;
}
.friends {
   background-color: white;
  font-size: 20px;
  width: 100px;
  border-radius: 3px;
  border: none;
}
.photos {
   background-color: white;
  font-size: 20px;
  width: 100px;
  border-radius: 3px;
  border: none;
}
.videos {
   background-color: white;
  font-size: 20px;
  width: 100px;
  border-radius: 3px;
  border: none;
}
.posts {
    position: relative;
    z-index: 2;
    font-size: 20px;
    color: black;
    margin-top: -350px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.mininame {
    position: relative;
    z-index: 2;
    font-size:15px;
    color: black;
    margin-top: 25px;
    margin-left: 120px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}
.time {
    position: relative;
    z-index: 2;
    font-size:10px;
    color: gray;
    margin-top: 10px;
    margin-left: 120px;
    font-family: Arial, Helvetica, sans-serif;
}
.caption {
    position: relative;
    z-index: 2;
    font-size:15px;
    color: black;
    margin-top: 10px;
    margin-left: 120px;
    font-family: Arial, Helvetica, sans-serif;
}
.posting {
    width: 500px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    margin-top: 60px;
    margin-left: 200px;
    border: 2px solid lightgray;
    position: relative;
}
.likecommentshare {
    position: relative;
    z-index: 2;
    margin-top: 20px;
    margin-left: 200px;
    padding: 20px, 40px;
    display: flex;
    gap: 200px;
    border-radius: 10px;
    width: 10px;
}
body {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* soft shadow */
    width: 60%;
    margin: auto;
}
